.HeroBoschCom {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;

    & h1 {
      font-size: 36px;
      letter-spacing: 1.2px;
      margin: 20px 20px 40px 20px;
    }
    &:hover,
    &:visited:hover {
      color: #007bc0;
    }
    &:visited {
      color: inherit;
      text-decoration: none;
    }
    .bosch-link {
      white-space: nowrap;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      svg {
        font-size: 30px;
      }
    }
  }
  .hero-img-wrapper {
    margin-right: 15px;
    .hero-img-big {
      margin-bottom: 15px;
      & img {
        display: block;
        width: 100%;
      }
    }
    .hero-link-list {
      margin-left: 15px;
      .link-img-wrapper {
        margin-bottom: 15px;
        & img {
          display: block;
          width: 100%;
        }
      }
      h2 {
        font-size: 20px;
        margin-bottom: 30px;

        .h2-link {
          white-space: nowrap;
          display: inline-flex;
          align-items: center;
        }
      }
      ul {
        list-style: none;
        li {
          margin-bottom: 25px;
          a {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            color: rgb(4 124 193);
            font-weight: 300;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* Small Devices (≥ 480px) */
@media screen and (min-width: 480px) {
}

/* Medium Devices (≥ 768px) */
@media screen and (min-width: 768px) {
  .hero-link-list {
    display: flex;
  }
}

/* Large Devices (≥ 1024px) */
@media screen and (min-width: 1024px) {
}

/* Extra Large Devices (≥ 1280px) */
@media screen and (min-width: 1280px) {
}

/* Ultra Wide Screens (≥ 1536px) */
@media screen and (min-width: 1536px) {
  h1 {
    background-color: yellow;
  }
}
