.Navigation {
  width: 200px;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
  /* height: 100%; */
  .nav-main {
    /* background-color: blue; */
    h2 {
      margin-bottom: 20px;
    }
    ul {
      list-style: none;
      /* background-color: yellow; */

      li {
        margin-bottom: 10px;
        .nav-link {
          text-decoration: none;
          &:visited {
            color: black;
          }
          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .nav-footer {
    /* background-color: green; */
    /* padding: 20px; */
    display: flex;
    flex-direction: row-reverse;
    .backend-link {
      text-decoration: none;
      border: 1px solid red;
      border-radius: 5px;
      padding: 10px 20px;
      &:visited {
        color: black;
      }
      &:hover {
        background-color: rgba(240, 128, 128, 0.473);
      }
      &:active {
        background-color: rgb(240, 128, 128);
      }
    }
  }
}
